#header.home-header {
  min-height: 50px;
  background-color: black;
}

.home-title {
  margin-top: 5px;
}
.tab-container {
  margin-left: 5px;
}
.tab {
  display: inline-block;
  padding: 10px;
  margin: 10px 0px 0px -5px;
  color: black;
  font-weight: bold;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  border-left: 1px solid black;
  border: 1.5px solid #d3d3d3;
  border-radius: 4px 4px 0 0;
  width: 250px;
  text-align: center;
}

.tab:not(.active-tab):hover {
  text-decoration: none;
  color: white;
  background: black;
}

.active-tab {
  background: #d3d3d3;
}

.neigh-title {
  font-style: bold;
  font-size: 20px;
  font-family: "Droid Sans", sans-serif;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

.form-inline {
  margin-top: 20px;
}

.form-inline .neigh-input {
  margin-left: 100px;
}

.chart {
  margin: 0px, 30px, 30px, 30px;
}

.chart-section:not(.active) {
  display:none;
}

.chart-section {
  width: 1100px;
  height: 660px;
  border: .5px solid gray;
  border-radius: 4px;
}

.main {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

#date-select {
  margin-left: 20px;
}


/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.large.progress {
  margin: 260px 0px 0 520px;
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}
