#header.home-header {
  min-height: 50px;
  background-color: black;
}

.home-title {
  margin-top: 5px;
}

.tab {
  display: inline-block;
  padding: 10px;
  margin: 10px 0px 0px -5px;
  color: black;
  font-weight: bold;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  border-left: 1px solid black;
  border: 1.5px solid #d3d3d3;
  border-radius: 4px 4px 0 0;
  width: 150px;
  text-align: center;
}

.tab:not(.active-tab):hover {
  text-decoration: none;
  color: white;
  background: black;
}

.active-tab {
  background: #d3d3d3;
}

.neigh-title {
  font-style: bold;
  font-size: 20px;
  font-family: "Droid Sans", sans-serif;
  text-align: center;
  padding: 20px;
}

.form-inline .neigh-input {
  margin-left: 100px;
}

.chart {
  margin: 30px;
}

.chart-section:not(.active) {
  display:none;
}


.chart-section {
  width: 1200px;
  height: 700px;
  border: .5px solid gray;
}


.main {
  margin-left: 50px;
  margin-right: 50px;
}
